@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
body,
html {
  height: 100%;
}
body {
  background-color: #f8f8f8;
  margin: 0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Green Radio Buttons */
.radio-input {
  opacity: 0;
  width: 0;
  height: 0;
}
.radio-input + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
.radio-input + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #ccc; /* Default border color */
  background: white;
}
.radio-input:checked + label:before {
  border-color: #99ca3b; /* Use your custom green color here */
}
